@font-face {
  font-family: 'Sentient';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src:
    local(''),
    url('/assets/fonts/sentient/Sentient-Variable.woff2') format('woff2'),
    url('/assets/fonts/sentient/Sentient-Variable.woff') format('woff');
}

@font-face {
  font-family: 'Sentient';
  font-style: italic;
  font-display: swap;
  font-weight: 100 900;
  src:
    local(''),
    url('/assets/fonts/sentient/Sentient-VariableItalic.woff2') format('woff2'),
    url('/assets/fonts/sentient/Sentient-VariableItalic.woff') format('woff');
}

@font-face {
  font-family: 'Gambetta';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src:
    local(''),
    url('/assets/fonts/gambetta/Gambetta-Variable.woff2') format('woff2'),
    url('/assets/fonts/gambetta/Gambetta-Variable.woff') format('woff');
}
