@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-display: swap;
  font-weight: 250;
  src:
    local(''),
    url('/assets/fonts/newsreader/newsreader-variablefont_opszwght-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Newsreader';
  font-style: italic;
  font-display: swap;
  font-weight: 250;
  src:
    local(''),
    url('/assets/fonts/newsreader/newsreader-italic-variablefont_opszwght-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local(''),
    url('/assets/fonts/newsreader/newsreader-variablefont_opszwght-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Apfel Grotezk';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local(''),
    url('/assets/fonts/apfel/apfelgrotezk-fett-webfont.woff2') format('woff2');
}