---
layout: base
---

<div class="region" style="--region-space-top: var(--space-xl-2xl)">
  <div class="wrapper flow prose">
    <h1 class="gradient-text">{{ title }}</h1>

    <p class="lede | measure-md">
        Studies tagged with the category **"{{ pagination.currentKey }}"** ({{ pagination.items.length }} studies found):
    </p>

    <section class="auto-grid">
      {% for study in pagination.items %}
        {% include "partials/card-blog.njk", post: study %}
        
        {#
        <article>
          <h2><a href="{{ study.url }}">{{ study.data.title }}</a></h2>
          <p class="meta">
            <time datetime="{{ study.date | date: 'YYYY-MM-DD' }}">{{ study.date | date: 'MMM D, YYYY' }}</time>
          </p>
          <p>{{ study.data.summary or study.templateContent | striptags | splitlines | head(3) | join(" ") }}...</p>
        </article>
        #}
      {% endfor %}
    </section>

    {% if pagination %}
      {% include "partials/pagination.njk" %}
    {% endif %}

  </div>
</div>