---
layout: base
permalink: /index.html
title: 'CritLit'
description: 'A living repository of influential literature in critical care medicine.'
blog:
  title: 'Latest Summaries'
  intro: "I'm showing the last 4 blog posts, but there might be more!"
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h2 class="text-center" style="color: var(--color-light);">{{ description }}</h2>
    </div>
  </header>

  <section class="full | region">
    <div class="prose wrapper flow">
      {% if blog.intro %}
        <p>{{ blog.intro }}</p>
      {% endif %}
      <div class="feature |  region region-space-l">
        <custom-masonry layout="50-50">
          {% set itemList = collections.allPosts %}
					{% asyncEach item in itemList.slice(0, 4) %}
            {% set headingLevel = "h3" %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>
