{% set headingLevel = headingLevel | default("h2") %}
{% set definedDate = definedDate | default(item.data.datePublished) %}
{% set showTopics = showTopics | default(false) %}
{% set showPICO = showPICO | default(true) %}


<custom-card clickable>
  <{{ headingLevel }} slot="headline" class="text-step-2">
    <a href="{{ item.url | url }}">{{ item.data.acronym }}</a>
  </{{ headingLevel }}>

  <span slot="date" class="text-step-min-1"> Published on {% include "partials/date.njk" %} in
    {% if item.data.journal %}
      <span>{{ item.data.journal }}</span>
      {% endif %}
  </span>

<div slot="tag" class="tag-container | cluster" style="--gutter: var(--space-2xs)">
    {% if item.data.condition and item.data.condition.length > 0 %}
      {% for condition in item.data.condition %}
        <span class="button" data-button-variant="primary" data-small-button>{{ condition }}</span>
      {% endfor %}
    {% endif %}

    {% if (not isCompact or showTopics) and item.data.topic and item.data.topic.length > 0 %}
      {% for topic in item.data.topic %}
        <span class="button" data-button-variant="secondary" data-small-button>{{ topic }}</span>
      {% endfor %}
    {% endif %}
  </div>

  <p slot="content" class="text-step-min-1">{{ item.data.pico }}</p>
</custom-card>

{% css "local" %}
  {% include "css/custom-card.css" %}


{% endcss %}
